/*.navbar-inner{
    background: none;
    filter: none;
    border: none;
    box-shadow: none;
    background-color: #2d3538;
}
.shadow	{
	box-shadow: 0px 0px 1px 0px #b3b2b2e3;
}*/

 label.obligatorio{
   color:red;
 }

